/*
* Theme main style 
* Table of contnet 
* Default setting 
* Header 
*/
body {
    font-family: 'Yantramanav', sans-serif;
    font-size: 16px;
    color: #101030;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
      font-family: 'Playfair Display', serif;
  }
  
  h1,
  h2,
  h3,
  h4 {
      font-weight: 700;
  }
  
  .header{
      background-color: #3028AF;
      position: relative;
      overflow: hidden;
      height: 904px;
  }
  .welearner-nav{
      position: relative;
      z-index: 999;
      padding: 40px 0 190px 0
  }
  .welearner-nav li a{
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      text-decoration: none;
  }
  .welearner-nav li:not(:last-child) a{
      padding: 0 45px 0 0;
  }
  .btn-nav-start a{
      background-color: #fff;
      color: #6058F1!important;
      padding: 15px 28px !important;
      -webkit-transition: all .4s;
      transition: all .4s;
  }
  .btn-nav-start:hover a{
      background-color: #6058F1!important;
      color: #fff !important;
  }
  .header-content-area{
      width: 670px;
      max-width: 100%;
      color: #fff;
      padding-right: 30px;
      position: relative;
      z-index: 6;
  }
  .header-content-area h1{
      font-size: 65px;
      line-height: 72px;
  }
  .header-content-area p{
      font-size: 20px;
      line-height: 40px;
      margin-top: 15px;
  }
  .content-icon-1{
      right: 100%;
      top: -62px;
  }
  .contnt-dot{
      width: 16px;
      height: 16px;
      background-color: #5ADDD2;
      border-radius: 50%;
      top: -75px;
      left: 40%;
  }
  .course-search-form{
      position: relative;
      margin-top: 42px;
      z-index: 5;
  }
  .course-search{
      height: 80px;
      width: 100%;
      padding-left: 35px !important;
      font-size: 20px;
  }
  .course-search-btn{
      top: 11px;
      right: 11px;
      background-color: #4640DE;
      -webkit-transition: all .4s;
      transition: all .4s;
      color: #fff;
      padding: 17px 60px;
  }
  .course-search-btn:hover {
      background-color: #1b16b6;
      color: #fff;
  }
  .top-rgiht-image{
      width: 816px;
      height: 500px;
      top: -194px;
      right: -85px;
      z-index: 1;
  }
  .main-image{
      bottom: 0;
      right: 320px;
      z-index: 2;
  }
  .dotted-image-botton{
      bottom: -10px;
      left: 150px;
  }
  .left-image-cricle {
      left: -65px;
      top: 388px;
  }
  .botton-dot-with-cricle{
      bottom: 100px;
      left: 21%;
  }
  .right-captual-dot{
      right: 170px;
      bottom: 170px;
  }
  /* Header End*/
  /* section topic*/
  .section-title{
      position: relative;
  }
  .section-title h2{
      display: inline-block;
      color: #101030;
      font-size: 44px;
  }
  .section-title h3{
      color: #101030;
      font-size: 44px;
      max-width: 259px;
      margin: auto;
  }
  .section-title p{
      font-size: 20px;
      color: #556170;
      margin-top: 30px;
      padding-bottom: 20px;
  
  }
  .btn-all{
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 46px;
    text-transform: capitalize;
    border-radius: 4px;
    border: 1px solid;
    border-color: #4640DE;
    -webkit-transition: all .5s;
    transition: all .5s;
  } 
  .solid-bg{
    background-color: #4640DE;
    color: #fff !important;
  } 
  .btn-transparent-bg{
      color: #4640DE !important;
  }
  .btn-all.btn-transparent-bg:hover{
      background-color: #4640DE;
      color: #fff !important;
  }
  .btn-all.solid-bg:hover{
      background-color: transparent;
      color: #4640DE !important;
  }
  .p-botton-right{
      bottom: 0;
      right: 0;
  }
  .default-padding{
      padding-top: 70px;
  }
  .mb-70px{
      margin-bottom: 70px;
  }
  .pt-100px{
      padding-top: 100px;
  }
  .pb-50px{
      padding-bottom: 50px;
  }
  .disply-topic .welernar-topic-taxonomy .topic-taxonomy{
     font-size: 24px;
     line-height: 30px;
  }
  .disply-topic .welernar-topic-taxonomy{
      min-height: 89px;
      padding: 14px 0 14px 30px;
      border: 1px solid;
      border-color: #E8EAEC;
      border-radius: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 50px;
      text-decoration: none;
      color: #1C2D41;
  }
  .disply-topic .topic-taxonomy {
    padding-left: 20px;
  }
  .welernar-topic-taxonomy .icon{
      width: 56px;
      height: 57px;
      border-radius: 20px;
      background-color: #C7C5F6;
      text-align: center;
      line-height: 56px;
  }
  
  .curse-loop-content{
      border: 1px solid;
      border-color: #EEEDFD;
      padding: 18px;
      border-radius: 6px;
  }
  .curse-loop-content .course-thum img{
      width: 400px;
      max-width: 100%;
  }
  .course-meta{
      margin-top: 20px;
  }
  .user-meta img{
      border-radius: 100%;
      margin-right: 10px;
  }
  .user-meta{
      color: #1C2D41;
      opacity: .5;

  }
  .course-meta .category a{
      font-family: 'Circular Std';
      font-size: 16px;
      text-decoration: none;
      color: #14E5E5;
      padding: 5px 15px;
      font-weight: 500;
  }
  .course-meta .category{
      background-color: #EFFDFD;
      border-radius: 20px;
  }
  .course-meta .rating i{
     color: #FFC107;
     font-size: 10px;
  }
  .course-meta .rating,
  .course-footer .button{
      margin-left: auto;
  }
  .contnet-area {
      margin-top: 20px;
  }
  .contnet-area h3{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
  }
  .contnet-area h3 a{
      text-decoration: none;
      color: #1C2D41;
  }
  .course-footer{
      border-top: 1px solid;
      border-color: #EEEDFD;
      margin-top: 10px;
      padding: 20px 0 0 0;
  }
  .course-footer .price del,
  .course-footer .price span{
      font-size: 20px;
      color: #4640DE;
  }
  .course-footer .price del{
      color: #D3D2DF;
  }
  .btn-wacth-preview{
      font-size: 12px;
      color: #4640DE;
      border: 1px solid;
      border-color: #4640DE;
      padding: 5px 8px;
      -webkit-transition: all .4s;
      transition: all .4s;
  }
  .btn-wacth-preview:hover {
      background-color: #4640DE;
      color: #fff;
  }
  /* counter up section*/
  .counter-up-sction {
      padding-bottom: 70px;
  }
  .counter-up-sction .counter,
  .counter-up-sction .safix{
      font-size: 63px;
      font-weight: 700;
      font-family: 'Playfair Display', serif;
  }
  .counter-up-sction .course-update{
      font-size: 24px;
      font-weight: bold;
      font-family: 'Playfair Display', serif;
      max-width: 120px;
      line-height: 30px;
  }
  /* testimonial section*/
  .testimonial-section {
      background: url(../img/testimonialbg.jpg);
      padding-top: 120px;
  }
  .testimonila-heading-section{
      margin-bottom: 50px;
  }
  .testimonila-heading-section h3{
      font-size: 44px;
      font-weight: bold;
      max-width: 375px;
  }
  .testimonial-description{
      position: relative;
      font-family: 'Playfair Display', serif;
      font-size: 20px;
      font-weight: 700;
  }
  .testimonial-description:before{
      content: url(../img/testimonial_icon.png);
      position: absolute;
      right: calc(100% - 69px);
      top: 3px;
  }
  .customar-img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 20px;
  }
  .customar-meta h4{
    font-size: 20px;
  }
  .customar-meta p{
      font-size: 14px;
      line-height: 14px;
  }
  .customar-say{
      margin-top: 5px;
      max-width: 340px;
  }
  .customar-content-footer{
    padding-top: 30px;
  }
  .customar-content-footer h4{
    font-size: 16px;
    max-width: 210px;
  }
  .tested-client-section{
      padding: 140px 0 90px;
  }
  .clinet-logo a:not(:last-child) {
      margin-right: 70px;
  }
  .patner-title{
      margin-bottom: 70px;
      display: block;
  }
  .team-section{
      background: url(../img/team-bg.jpg);
      background-position: 350px top;
      background-repeat: no-repeat;
  }
  .team-image {
      background-color: #FFBDBE;
      position: relative;
      overflow: hidden;
  }
  .team-image img{
      display: block;
      margin: auto;
  }
  .team-social-icon{
      background-color: #6058F1;
      width: 260px;
      height: 100px;
      position: absolute;
      bottom: -40px;
      left: 0;
      border-top-right-radius: 110%;
      visibility: hidden;
      opacity: 0;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transition: all .4s;
      transition: all .4s;
  }
  .team-social-icon ul{
      list-style: none;
      margin-top: 54px;
      margin-left: -11px;
  }
  .team-social-icon ul li{
      display: inline-block
  }
  
  .team-social-icon ul li a{ 
     color: #fff;
  }
  .team-social-icon ul li:hover  a{ 
     -webkit-transform: scale3d(360deg); 
             transform: scale3d(360deg);
   }
  .team-social-icon ul li:not(:last-child) a{
      padding-right: 20px;
  }
  .team-loop-wrapper:hover .team-social-icon{
      bottom: -10px;
      visibility: visible;
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  .team-meta{
      margin-top: 30px;
  }
  .team-meta h4{
      font-size: 18px;
  }
  .team-meta small {
      font-size: 14px;
      color: #556170;
      display: block;
      line-height: 14px;
  }
  
  .blog-content h4{
      font-size: 20px;
      line-height: 30px;
      padding: 20px 0 0;
  }
  .blog-content a{
      font-size: 14px;
      font-family: 'Circular Std';
      color: #6058F1;
      text-decoration: none;
      font-weight: 500;
  }
  .blog-img img{
      width: 500px;
      max-width: 100%;
  }
  .call-to-action-content{
      padding: 60px;
  }
  .call-to-action-content h4{
      font-size: 44px;
      color: #1C2D41;
  }
  .call-to-action-content p{
      font-size: 16px;
      color: #1C2D41;
      max-width: 350px;
      margin: 20px auto 25px auto;
  }
  
  .btn-call-to-action{
    font-size: 20px;
    background-color: #fff;
    border-radius: 2px;
    color: #101030 !important;
    padding: 15px 130px;
    box-shadow: 0 5px 25px 0 rgb(43 33 18 / 2%);
    -webkit-transition: all .4s;
    transition: all .4s;
}
  .btn-call-to-action:hover{
    box-shadow: 0 5px 25px 0 rgb(43 33 18 / 5%);
    -webkit-transform: translateX(5px);
            transform: translateX(5px);

  }
  /*Footer Logo*/

  .site-footer{
      background-color: #021E40;
      padding: 100px;
  }
  .footer-static-content p{
    font-size: 16px;
    color: #788595;
    margin: 30px 0 100px 0;
  }
  .footer-social{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  .footer-social li{
      display: inline-block;
  }
  .footer-social li:not(:last-child){
    margin-right: 5px;
  }
  .footer-social li a{
      display: block;
      font-size: 18px;
      background-color: #394D65;
      text-align: center;
      border-radius: 10px;
      width: 40px;
      height: 40px;
      line-height: 40px;
  }
  .footer-social li a i{
    transition: all .4s;
  }
  .footer-social li a i.fa-facebook-f{
      color: #037BF4;
  }
  .footer-social li a i.fa-twitter{
      color: #03A9F4;
  }
  .footer-social li a i.fa-linkedin-in{
      color: #67B3FF;
  }
  .footer-social li:hover a i{
      color: #fff;
  }
  .footer-widgets-title{
      font-size: 20px;
      color: #fff;
      margin-bottom: 35px;
  }
  .footer-widget-wrapper ul{
      padding: 0;
      margin: 0;
      list-style: none;
  }
  .footer-widget-wrapper li {
      margin-bottom: 10px;
  }
  .footer-widget-wrapper li a{
      color: #788595;
      font-size: 16px;
      text-decoration: none;
  }

  .footer-widget-wrapper li:hover a{
      text-decoration: underline;
  }